.menu-block>ul>li{
    position: relative;
    &:hover{
        &>ul{
            opacity: 1;
            visibility: visible;
        }
    }
    &>ul{
        position: absolute;
        left: 50%;
        top: 65px;
        transform: translateX(-50%);
        height: auto;
        background: #fe4c4c;
        border-radius: 0 0 10px 10px;
        visibility: hidden;
        opacity: 0;
        transition: .2s all;
        min-width: 224px;
        &>li{
            margin-right: 0;
            height: auto;
            width: 100%;
            &:last-child{
                a{
                    border-radius: 0 0 10px 10px;
                }
            }
            &.mb-has-children{
                &>a{
                    position: relative;
                    &:after{
                        position: absolute;
                        right: 15px;
                        top: 15px;
                        transform: rotate(-90deg);
                        
                    }
                }
            }
            a{
                border-bottom: 0px solid #ff4c4c !important;
                padding: 14px 33px 13px 20px;
            }
            ul{
                position: absolute;
                visibility: hidden;
                opacity: 0;
                transition: .2s all;
                height: auto;
                background: #fe4c4c;
                left: 100%;
                top: 0;
                border-radius: 0 0 10px 10px;
                min-width: 224px;
                li{
                    margin-right: 0;
                    height: auto;
                    width: 100%;
                    &:last-child{
                        a{
                            border-radius: 0 0 10px 10px;
                        }
                    }
                    &:hover{
                        a{
                            background: lighten(#febd4c, 6);
                        }
                    }
                }
            }
            &:hover{
                &>a{
                    background: lighten(#febd4c, 6);
                }
                ul{
                    opacity: 1;
                    visibility: visible;
                    // box-shadow: 0px 5px 6px 0px #0000006b;
                }
            }
            
        }
    }
}

$width: 33.333333%;

.top-experts-full{
    width: 100%;
    margin-left: 0;
    .top-experts-child{
        width: $width;
    }
}

.main-container, footer{
    padding: 0 135px;
}
.main-container{
    min-height: calc(100vh - 428px);
}
.fs-big-event{
    img{
        width: 100%;
    }
}

.top-expert-img {
    background-position: center bottom;
    background-size: cover;
    img{
        width: 100%;
    }
}
.fs-article>a{
    max-width: 205px;
    width: 40%;
    background-position: center;
    background-size: cover;
}

.menu-sidebar{
    .simplebar-track{
        opacity: 0;
    }
    .simplebar-mask,.simplebar-wrapper,.simplebar-content-wrapper{
        overflow-x: visible !important;
    }
}

.footer-first{
    padding-left: 15px;
    padding-right: 15px;
}

.tcp-send-icon{
    background-color: transparent;
    border: 0;
    outline: 0;
}

.log-reg-buttons{
    display: flex;
    flex-wrap: wrap;
    a{
        margin-left: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        line-height: 15px;
        text-decoration: none;
        span{
            margin-left: 7px;
            border-bottom: 1px solid #fff;
            transition: .2s all;
        }
        &:hover{
            span{
                border-bottom: 1px solid transparent;
            }
        }
    }
}


.lrb-reg{
    width: 15px;
    height: 15px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAV1BMVEUAAABlZYJmZoJlZYJkZINlZYNlZYFmZotlZYJlZYJlZYJlZYJlZYJmZoJmZoKAgIBlZYJmZoJlZYJgYIBlZYJkZIJlZYJkZIJlZYFmZoJmZoNmZoFlZYLCy94bAAAAHHRSTlMA0BWyoaopCOHb1qWRblMEeGRFEOnGvbyGhWlByNWe7wAAAG9JREFUCNd1zUcOwzAMRNERqRKruqSH9z9nLAuQAAN+u78YDHYuepUcuig7Hj1Jdd2PmrfR6tS59nd08SJ3B7sSmpeIJ/4s+l3rx8feIiMtoKccotvCVgy0NPOqJ00GrBoGNCj0kzQXIrbosjHB4g/MqQgGwTLbbAAAAABJRU5ErkJggg==);
}


.lrb-user{
    width: 15px;
    height: 13px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAANCAMAAACq939wAAAAOVBMVEUAAABlZYJlZYJlZYJlZYJlZYJlZYJlZYNkZINlZYNlZYBmZoNlZYJkZIJlZYNkZINlZYFtbZJlZYKviNKWAAAAEnRSTlMA4a/Ni76CZEo9JtPKt6KgWweD2NBAAAAASUlEQVQI1z3MSQ7AIAxDUZOEMnTO/Q9bUhn+7smSMXpt1wds85EROaDEGcjEHbgICQjRAx1MOMxvA2vJPTVE9fA/rUDxVYGklXxOwAQmOoSCmAAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: center;
}

footer .mt-social-block a>div>div{
    top: -31px;
}




.category-6{
    h3{
        font-size: 40px;
    }
}

.detail-expert {
    .top-chat-block{
        width: 100%;
        max-width: unset;
    }
    .tcp-video-live{
        max-height: 520px;
        min-height: 520px;
        max-width: unset;
        width: 70%;
        overflow: hidden;
    }
    .tcp-chat{
        max-height: 520px;
        min-height: 520px;
    }
    .tcp-chat-messages{
        max-height: 426px;
        min-height: 426px;
        .simplebar-offset{
            min-height: 416px;
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
        }
        
        .simplebar-content-wrapper{
            width: 100%;
        }
    }
}


.tec-rating-block span{
    margin-top: 3px;
}


.top-chat-block{
    justify-content: space-between;
    align-items: flex-start;
}
.tcp-experts{
    padding-right: 24px;
    display: flex;
    flex-wrap: wrap;
}
.tcp-expert{
    width: 75px;
    height: 75px;
    margin-left: 10px;
    background-size: cover;
}

.tcp-next-experts{
    margin-left: 10px;
    color: #2b2a2a;
    background: #d0cdcd;
    max-width: 87px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
    position: relative;
    &:after{
        position: absolute;
        content: "";
        border-left: 10px solid #d0cdcd;
        border-top: 37.5px solid transparent;
        border-bottom: 37.5px solid transparent;
        right: -10px;
    }
}


.videocall-popup{
    position: fixed;
    background: rgba(0,0,0,.5);
    z-index: 1000;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .2s all;
    width: 100%;
    height: 100%;
    display: none;
    &.active{
        opacity: 1;
        visibility: visible;
        display: block;
    }
    
    .top-chat-block{
        margin: 40px auto;
        position: relative;
    }
    
    #peerDiv,#peerDiv.error, #peerDiv.success{
        height: 353px;
        position: relative;
        background: black;
    }
}

.videocall-popup-inner{
    background: #30303c;
    color: #fff;
    z-index: 1001;
    min-width: 500px;
    max-width: 500px;
    min-height: 375px;
    margin: 20px auto;
    position: relative;
}

#fromMe{
    position: absolute;
    width: 100px;
    height: 100px;
    // border: 1px solid green;
    right: 10px;
    top: 10px;
    background: black;
    z-index: 2;
    h2{
        display: none !important;
    }
}

.videocall-popup-close{
    left: 15px;
    top: 15px;
    cursor: pointer;
    position: absolute;
}

#peerDiv.error{
    color: red;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 375px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#peerDiv.success{
    color: green;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 375px;
    width: 100%;
}

#peerDiv{
    video{
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
    }
}

#videocallAccept{
    text-align: center;
    h2{
        font-weight: bold;
        text-align: center;
        font-size: 29px;
        padding-top: 80px;
    }
    button{
        margin-top: 50px;
        color: #fff;
        border: 0;
        padding: 4px 10px;
        font-size: 20px;
        border-radius: 5px;
    }
    #acceptCall{
        background: green;
    }
    #cancelCall{
        background: #e84545;
    }
}


.start-broadcast,.stop-broadcast{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    display: none;
    &.active{
        display: block;
    }
}

.broadcast-video{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
}

.play-broadcast{
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 494.148 494.148' style='enable-background:new 0 0 494.148 494.148;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M405.284,201.188L130.804,13.28C118.128,4.596,105.356,0,94.74,0C74.216,0,61.52,16.472,61.52,44.044v406.124 c0,27.54,12.68,43.98,33.156,43.98c10.632,0,23.2-4.6,35.904-13.308l274.608-187.904c17.66-12.104,27.44-28.392,27.44-45.884 C432.632,229.572,422.964,213.288,405.284,201.188z' style='fill: %23fff;'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-color: transparent;
    outline: 0;
    border: 0;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    cursor: pointer;
    display: none;
    &.active{
        display: block;
    }
}

.no-broadcast{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    &.active{
        display: block;
    }
    
}






@media(max-width: 1525px){
    .menu-top{
        .inner{
            padding: 0 15px;
        }
    }
    .fs-events-calendar h3{
        font-size: 22px;
        line-height: 26px
    }
}

@media(max-width: 1485px){
    .bbb{
        height: auto;
        font-size: 25px;
    }
}

@media(max-width: 1448px){
    body{
        padding-top: 208px;
    }
    .reviews-glide .glide__arrow--left{
        left: 9%;
    }
    .reviews-glide .glide__arrow--right{
        right: 9%;
    }
    .ss-adv-block{
        width: 28%;
    }
    .top-experts{
        width: calc(72% - 30px);
    }
    
    .fs-news-block{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 13px;
        padding-right: 13px;
        .fs-article{
            flex: 1;
            padding: 0 13px;
            margin-bottom: 0;
        }
    }
    
    .fs-events{
        margin-left: 0;
        margin-top: 30px;
        width: 100%;
    }
}


@media(max-width: 1342px){
    padding-top: 208px;
}


@media(max-width: 1312px){
    .ss-adv-block{
        display: none;
    }
    .top-experts{
        width: 100%;
        margin-left: 0;
    }
    .fs-article>a{
        width: 100%;
        min-height: 150px;
        max-width: unset;
    }
    .top-expert-img{
        background-size: cover;
    }
}


@media(max-width: 1334px){
    footer .inner{
        justify-content: center;
        .mt-social-block{
            order: 2;
            flex: 0 0 100%;
            justify-content: center;
        }
    }
    .footer-first{
        flex: 0 0 100%;
        order: 1;
    }
}

@media(max-width: 1286px){
    .reviews-glide .glide__arrow--left{
        left: 4%;
    }
    .reviews-glide .glide__arrow--right{
        right: 4%;
    }
}

@media(max-width: 1200px){
    .menu-block ul li{
        margin-right: 20px;
    }
    .top-chat-block{
        min-width: unset;
    }
    .bbb{
        font-size: 20px;
        padding: 25px 45px 25px 32px;
    }
    .tcp-video-live{
    }
    .tcp-chat{
        min-width: unset;
    }
    .top-chat-block{
        width: 100%;
    }
}
@media(max-width: 1156px){
    .reviews-glide .glide__arrow{
        width: 38px;
        height: 38px;
        margin-top: -19px;
    }
    .reviews-glide .glide__arrow--left{
        left: 6px;
    }
    .reviews-glide .glide__arrow--right{
        right: 6px;
    }
    .glide__slide{
        padding: 0 50px;
    }
}
@media(max-width: 1130px){
    .top-chat-block-container{
        padding: 25px 25px;
        min-height: unset;
    }
}

@media(Max-width: 1060px){
    .menu-block{
        padding-right: 10px;
        padding-left: 10px;
    }
}


@media(max-width: 1010px){
    .log-reg-buttons{
        padding: 15px 0;
        justify-content: flex-end;
    }
    .mt-social-block a{
        width: 35px;
        height: 35px;
        &:after,&:before{
            width: 33px;
            height: 33px;
        }
    }
    
    .logo{
        margin-top: 4px;
        img{
            width: 266px;
        }
    }
    
    .menu-top{
        .inner{
            position: relative;
            align-items: flex-start;
        }
        .mt-social-block{
            position: absolute;
            left: 10px;
            top: 52px;
            margin: 0;
            a{
                margin: 0 10px;
            }
        }
    }
    .main-container, footer{
        padding: 0 95px;
    }
    footer{
        padding-bottom: 15px;
        .mt-social-block{
            margin: 5px 0;
        }
    } 
    .big-bottoms-buttons{
        margin-bottom: 30px;
    }
    .mt-user-block{
        padding: 27px 0;
    }
    .menu-sidebar a.ms-icon-menu{
        width: 46px;
        height: 46px;
        &:after,&:before{
            width: 44px;
            height: 44px;
        }
    }
    .menu-sidebar{
        width: 70px;
    }
    .menu-block{
        right: 70px;
    }
    
    .menu-sidebar .mt-social-block a{
        margin-bottom: 28px;
    }
    .menu-sidebar a.ms-icon-menu{
        margin-bottom: 18px;
    }
}

@media(max-width: 928px){
    .tcp-video-live{
        max-width: unset;
        min-width: unset;
        max-height: unset;
        width: 100%;
    }
    .tcp-chat{
        width: 100%;
        padding-left: 0;
        margin-top: 28px;
        padding-bottom: 39px;
        max-height: 300px;
    }
    .top-chat-block{
        padding-right: 29px;
    }
    .tcp-input{
        padding-left: 0;
    }
    .tcp-chat-messages{
        max-height: 205px;
        padding-right: 20px;
    }
    
    .top-chat .simplebar-track.simplebar-vertical{
        right: 0px;
    }
    .reviews-text{
        font-size: 98px;
        right: -6px;
        top: -22px;
    }
}

@media(max-width: 910px){
    .top-expert-content{
        padding-left: 15px;
        padding-right: 15px;
    }
    .bbb{
        font-size: 16px;
    }
}

@media(max-width: 872px){
    body{
        padding-top: 135px;
    }
    .menu-block{
        display: none;
    }
    .top-experts-title h3{
        font-size: 37px;
    }
}

@media(max-width: 867px){
    .fs-events-calendar{
        width: 100%;
        margin-bottom: 3px;
    }
    .fs-events-second{
        width: 100%;
        margin-left: 0;
    }
}

@media(max-width: 841px){
    .top-expert-img{
        width: 100%;
        min-height: 180px;
    }
}

@media(max-width: 800px){
    .fs-news-block{
        .fs-article{
            flex: 0 0 50%;
            &:last-child{
                flex: 0 0 100%;
                margin-top: 30px;
            }
        }
    }
}

@media(max-width: 760px){
    .bbb{
        &:first-child{
            margin-right: 30px;
        }
        &:last-child{
            width: 100%;
            margin-top: 30px;
        }
        width: calc(50% - 15px);
        margin-right: 0;
    }
    .top-experts-title h3{
        font-size: 26px;
    }
    .reviews-text{
        font-size: 80px;
        right: -6px;
        top: -29px;
    }
}


@media(max-width: 600px){
    .top-experts{
        padding-left: 15px;
        padding-right: 15px;
    }
    .top-experts-title{
        padding-left: 0;
    }
    .fs-news-block .fs-article{
        flex: 0 0 100%;
        margin-top: 30px;
        &:first-child{
            margin-top: 0;
        }
    }
    .main-container, footer{
        padding-left: 80px;
        padding-right: 80px;
    }
    .reviews-img{
        
    }
    .reviews-img+div{
        padding-left: 0;
        flex: 0 0 100%;
        margin-top: 15px;
    }
    .reviews-glide .glide__slide>div{
        justify-content: center;
    }
    .fs-events{
        padding-left: 20px;
        padding-right: 20px;
    }
    .mt-user{
        flex: 0 0 100%;
    }
    .mt-user-block{
        justify-content: flex-end;
        padding: 15px 0;
        max-width: 160px;
    }
    .mt-user{
        max-width: 160px;
    }
    .mt-user-icons>div{
        margin-left: 26px;
    }
    .log-reg-buttons a{
        margin-left: 0;
        margin-bottom: 7px;
    }
}


@media(max-width: 540px){
    .top-chat-block-container{
        padding: 5px;
    }
    .top-experts-child{
        width: 100%;
        padding: 0;
    }
    .top-experts-title{
        margin-bottom: 15px;
    }
    .top-chat-block{
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .reviews-text {
        font-size: 33px;
        right: -2px;
        top: -44px;
    }
    .fs-events{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .main-form{
        padding: 10px;
        h1{
            font-size: 25px;
            margin-bottom: 20px;
        }
        label div{
            font-size: 13px;
        }
    } 
}


@media(max-width: 514px){
    footer .mt-social-block{
        margin: 11px 0;
    }
    .fs-news-block{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
    }
    .fs-news-block .fs-article{
        margin-top: 10px;
    }
    .bbb{
        width: 100%;
        margin-right: 0;
        &:first-child{
            margin-right: 0;
            margin-bottom: 30px;
        }
    }
    
    .main-form .captcha>span{
        flex: 0 0 100%;
        input{
            border-radius: 3px;
        }
    }
}

@media(max-width: 500px){
    .fs-best-expert-info{
        flex: 0 0 100%;
        padding-left: 0;
    }
    .fs-best-expert-content{
        justify-content: center;
        a{
            margin-bottom: 10px;
        }
    }
    .fs-events-calendar{
        padding: 0;
    }
}

@media(max-width: 475px){
    body{
        padding-top: 117px;
    }
    .menu-top{
        height: 99px;
    }
    .mt-social-block a{
        width: 30px;
        height: 30px;
        &:before,&:after{
            width: 28px;
            height: 28px;
        }
    }
    .mt-user-block{
        max-width: 99px;
        padding: 6px 0;
    }
    .mt-user-icons>div:first-child{
        margin-left: 0;
    }
    .logo img{
        width: 215px;
    }
    .mt-user-icons>div{
        margin-left: 16px;
    }
    .mt-user{
        justify-content: center;
    }
    .menu-top .mt-social-block a {
        margin: 0 7px;
    }
    .menu-sidebar a.ms-icon-menu{
        width: 35px;
        height: 35px;
        &:after,&:before{
            width: 33px;
            height: 33px;
        }
    }
    .menu-sidebar{
        width: 50px;
        padding-top: 120px;
    }
    .main-container, footer{
        padding-left: 55px;
        padding-right: 55px;
    }
    .mt-user img{
        width: 37px;
    }
    .mt-user>div{
        margin-left: 0;
    }
    .mt-user-icons{
        margin-left: 0;
        margin-top: 5px;
        margin-right: 11px;
    }
    .mt-user-icons>div{
        margin-left: 36px;
    }
    .menu-top .inner{
        padding: 0 5px;
    }
    .menu-top .mt-social-block{
        left: -3px;
        transform: scale(0.95);
    }
    .mt-user-icons>div{
        margin-left: 20px;
    }
    .fs-big-event h4{
        font-size: 24px;
        line-height: 22px;
    }
    .log-reg-buttons{
        padding: 19px 0;
        a{
            font-size: 12px;
        }
    }
    div.mt-user-dropdown{
        top: 67px;
        a{
            font-size: 13px;
        }
    }
    
}


@media(max-width: 380px){
    .top-chat-block-container{
        padding: 0;
    }
    body{
        padding-top: 110px;
    }
    .menu-sidebar{
        padding-top: 115px;
    }
    .tcp-chat-title{
        font-size: 28px;
    }
    .tcp-title{
        left: 12px;
        bottom: 12px;
        font-size: 14px;
    }
    .tcp-input{
        padding-right: 15px;
    }
    .tcp-send-icon{
        right: 27px;
    }
    .tcp-input input{
        padding-right: 34px;
    }
}

@media(max-width: 350px){
    .fs-big-event h4{
        font-size: 21px;
    }
    .top-chat-block{
        padding: 5px;
    }
    .tcp-chat{
        margin-top: 10px;
    }
    .tcp-chat-title{
        font-size: 22px;
    }
    .fs-events-calendar h3 {
        font-size: 18px;
        line-height: 23px;
    }
    .mt-user-block{
        max-width: 95px;
    }
    .fs-ce-text>div{
        padding-left: 10px;
    }
    .fs-calendar-event{
        padding-left: 7px;
        padding-right: 7px;
    }
}





.menu-block ul li a  {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    border: 0px solid #ffffff;
    transition: 0.6s all;
    letter-spacing: 1.3pt;

   
}



